# ./Dependencies/tesserocr-2.8.0-cp311-cp311-win_amd64.whl
tesserocr==2.8.0
asgiref==3.8.1
attrs==24.2.0
Django==5.1.4
django-filter==24.3
djangorestframework==3.15.2
django-cors-headers==4.7.0
drf-spectacular==0.28.0
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
pillow==11.0.0
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.22.3
sqlparse==0.5.3
uritemplate==4.1.1
opencv-python==4.10.0.84
opencv-contrib-python==4.11.0.86
numpy==1.26.4
shapely==2.0.6
pytesseract==0.3.13
Cython==3.0.11
